<style>
.banner {
	padding: 10px;
	margin: 5px;
	background-color: blue;
	color: lightblue;
}

</style>
<div class="banner">
	<h1>PLACEHOLDER HEADER/BLOG TITLE</h1>
</div>

<%= yield %>

<div class="banner">
	<h2>Placeholder Footer for blog</h2>
	<p> TO DO: add contact info, about page, reference links </p>
</div>