<style>
.banner {
	padding: 10px;
	margin: 5px;
	background: black;
	color: white;
}

</style>
<div class="banner">
	<h1>BANNER TOP</h1>
</div>

<%= yield %>

<div class="banner">
	<h6>BANNER Bottom</h6>
</div>